<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  Email me at <a href="mailto:me@example.com">me@example.com</a>
</p>
<p>
	Check out my website, <a href="http://example.com/">example.com</a>
</p>